* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fcea;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

h1 {
    font-size: 4rem;
    text-align: center;
    padding: 20px;
    background-color: yellow;
    color: blue;
    border-radius: 10px;
    border: 3px solid blue;
}

li a {
    display: block; /* Torna todo o espaço do <li> clicável */
    padding: 10px; /* Espaçamento interno para tornar a área clicável maior */
    text-decoration: none; /* Remove sublinhado padrão dos links */
    color: inherit; /* Herda a cor do texto do elemento pai (opcional) */
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
    }
}

